<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div style="text-align: center;">
<head>
  <meta charset="UTF-8">
  <title>Formulaire Tâche</title>
</head>
<body>
<h1 th:text="${task.id} != null ? 'Modifier la tâche' : 'Nouvelle tâche'"></h1>

<form th:action="@{/tasks/save}" th:object="${task}" method="post">
  <input type="hidden" th:field="*{id}" />

  <label for="title">Titre :</label>
  <input type="text" id="title" th:field="*{title}" required/><br><br>

  <label for="completed">Terminée :</label>
  <input type="checkbox" id="completed" th:field="*{completed}"/><br><br>

  <button type="submit">💾 Enregistrer</button>
</form>

<br>
<a th:href="@{/tasks}">⬅ Retour à la liste</a>
</body>
</div>
</html>
