<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Formulaire Tâche</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div>
  <h1 th:text="${task.id} != null ? 'Modifier la tâche' : 'Nouvelle tâche'"></h1>

  <form th:action="@{/tasks/save}" th:object="${task}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label for="title">Titre :</label><br>
    <input type="text" id="title" th:field="*{title}" required/><br>
    <p style="color: red;" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    <br>


    <label for="completed">Terminée :</label>
    <input type="checkbox" id="completed" th:field="*{completed}"/><br><br>

    <button type="submit">💾 Enregistrer</button>
  </form>

  <br>
  <a th:href="@{/tasks}">⬅ Retour à la liste</a>
</div>
</body>
</html>
